body{
    background:linear-gradient(45deg, green , yellow);
   


}
header {
    background-color: aqua;
    text-align: center;
}
form{
    border: 2px solid black;
}

.float{
    float: left;
}