body{
    background:linear-gradient(45deg, green , yellow);
   


}
header {
    background-color: aqua;
    text-align: center;
}
.box {
    border: 2px solid green;
    border-radius: 10px;

}